[Desktop Entry]
Type=Application
Name=Sonic Night Funkin'
Comment=A somewhat Sonic themed mod for Friday Night Funkin'
Icon=io.github.shadowmario.fnf-psychengine
Exec=SNFV5
Categories=Game
